body { 
    color: rgba(128, 128, 128, 0.897); background-color: #ffc; font-size: 0,8em; font-family: Georgia, 'Times New Roman', Times, serif;
}	
.black-border {
    border: 5px solid; border-color:olive;
}
#green-background {
    background-color: olivedrab;
}
.coupon {
	width: 250px;
	padding: 10px;
	text-align: center;
	border: 3px dashed #ccc; 
	color: red;
	font-family: fantasy;
}
h1 {
     color: olive; text-align: center;
}
h2,h3 {
	color: rgb(210, 206, 211); font-size: 1,8em;
}
