
body {
	background-color:#e9967a;
	}
header {
	display: flex;
	justify-content: flex-start;
}
.menu-btn {
	width: 50px;
	height: 50px;
	position: relative;
	z-index:2;
	overflow: hidden;
	cursor: pointer;
}
.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.menu {
	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;
	width: 10%;
	height: 100%;
	padding: 0 5px;
    background:#e9967a;
	transform: translateX(-70%);
	transition: transform 0.5s; 
}
.menu.active {
	transform: translateX(0);
}

.menu ul {
	padding-top: 50px;
	padding-inline-start: 0px;
	padding-inline-end: 50px;
}	

.menu ul li {
	list-style-type: none;
	}

.menu ul li a {
display: block;
height: 50px;
padding-bottom: 0 10px;
position: center;
text-decoration: none;
text-transform: uppercase;
text-align: center;
font-family: arial;
font-size: 10px;
color: black;
white-space: nowrap;
}

.li span, li a[data-btn-color = "#e9967a"] {
	background-color: #e9967a;
  }

.li span, li a[data-btn-color = "#7ba6f6"] {
	background-color: #7ba6f6;
  }
.li span, li a[data-btn-color = "#E32636"] {
	background-color: #E32636;
  }
.li span, li a[data-btn-color = "#F34723"] {
	background-color: #F34723;
  }
.li span, li a[data-btn-color = "#E0B0FF"] {
	background-color: #E0B0FF;
  }




